In [ ]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.io import show

Exploração dos dados

In [ ]:
base_credit = pd.read_csv('credit_risk_dataset.csv')

In [ ]:
base_credit.head(10) #Head busca os primeiros registros da base

In [ ]:
base_credit.tail(10) #Tail busca os ultimos registros da base

In [ ]:
base_credit.describe() #Vai retornar para cada atributo númerico a contagem

In [ ]:
base_credit[base_credit['person_income'] >= 60000] #Filtro aplicado para ver pessoas com a renda maior que 60k

In [ ]:
base_credit[base_credit['person_income'] <= 60000] #Filtro aplicado para ver pessoas com a renda menor que 60k

Visualização dos Dados

In [ ]:
np.unique(base_credit['cb_person_default_on_file'], return_counts=True)

In [ ]:
sns.countplot(x=base_credit['cb_person_default_on_file']);

In [ ]:
plt.hist(x = base_credit['person_age']);

In [ ]:
plt.hist(x = base_credit['person_income']);

In [ ]:
plt.hist(x = base_credit['loan_amnt']);

In [ ]:
grafico = px.scatter_matrix(base_credit, dimensions=['person_age', 'person_income', 'loan_amnt'], color = 'cb_person_default_on_file')
grafico.show()

Tratamento de valores inconsistentes

In [ ]:
base_credit.loc[base_credit['person_age'] < 0]

In [ ]:
base_credit[base_credit['person_age'] < 0 ]

In [ ]:
#Apagar coluna inteira da base de dados
base_credit2 = base_credit.drop('person_age', axis = 1)
base_credit2

In [ ]:
#Apagar somente os registros com valores inconsistentes
base_credit3 = base_credit.drop(base_credit[base_credit['person_age'] < 0].index)
base_credit3

In [ ]:
base_credit3.loc[base_credit3['person_age'] < 0]

In [ ]:
#Preencher o valores inconsistes manualmente

In [ ]:
#Preencher a média
base_credit['person_age'].mean()

In [ ]:
#Puxando media sem valores negativos na base de dados
base_credit['person_age'][base_credit['person_age'] > 0].mean()

In [ ]:
#Corrigindo os valores e alterando para a média
base_credit.loc[base_credit['person_age'] < 0] = 27.73

Tratamento de valores faltantes

In [ ]:
base_credit.isnull()

In [ ]:
#Soma dos valores faltantes
base_credit.isnull().sum()

In [ ]:
#Mostra o valores faltantes
base_credit.loc[pd.isnull(base_credit['person_emp_length'])]

In [ ]:
#Realizar correção de valores faltantes com a média
base_credit['person_emp_length'].fillna(base_credit['person_emp_length'].mean(), inplace=True)

In [ ]:
#Verificar soma de valores faltantes
base_credit.isnull().sum()

In [ ]:
#Mostra o valores faltantes
base_credit.loc[pd.isnull(base_credit['loan_int_rate'])]

In [ ]:
#Realizar correção de valores faltantes com a média
base_credit['loan_int_rate'].fillna(base_credit['loan_int_rate'].mean(), inplace=True)

In [ ]:
#Verificar soma de valores faltantes
base_credit.isnull().sum()

Divisão entre previsores e classe

In [40]:
base_credit.head(5)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [39]:
x_credit = base_credit.iloc[:, [0, 1, 6]].values
x_credit

array([[    22,  59000,  35000],
       [    21,   9600,   1000],
       [    25,   9600,   5500],
       ...,
       [    65,  76000,  35000],
       [    56, 150000,  15000],
       [    66,  42000,   6475]], shape=(32581, 3))

In [ ]:
type(x_credit)

In [ ]:
y_credit = base_credit.iloc[: ,[2, 3, 4, 5, 7, 8, 9, 10, 11]].values
y_credit

Escalonamento dos valores

In [45]:
x_credit[:,2].min() #Pessoa com menor renda
x_credit[:,2].max() #Pessoa com maior renda

np.int64(35000)